@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Cherry+Bomb+One&family=Cutive+Mono&family=Indie+Flower&family=M+PLUS+2:wght@100;300;400&family=Montserrat+Alternates&family=Quicksand:wght@300;400&family=Tilt+Prism&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'M PLUS 2', sans-serif;
}
html{
  scroll-behavior: smooth;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3em;
  position: absolute;
}
.item-nav{
  margin: 20px;
}
.indice{
  color: #000;
  margin: 15px;
  text-decoration: none;
}
header{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}
.header-texto{
  width: 50em;
  height: auto;
  line-height: 2;
  padding: 20px;
  margin: 40px;
}
.texto{
  margin: 25px 0px;
}
.btn-header{
  text-decoration: none;
  color: #fff;
  padding: 10px;
  margin-right: 15px;
  background-color:  #fedb5f;
  border-radius: 5px;
  box-shadow: 3px 3px 0px #ffed71;
}
#verviajes{
  width: 100%;
  height: 200vh;
}
.verviaje{
  width: 100%;
  height: 100vh;
}
.viaje{
  width: 100%;
  height: 16em;
  display: flex;
  align-items: center;
  background-color: #f0c072;
}
.contenido-viaje{
  margin: 20px;
}
.caract-viaje{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 20px;
}
.precio{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3em;
  margin: 0px 20px;
}
.imgveviajes{
  width: 15em;
  height: 10em;
  background-color: blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}