#programarviaje{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.programar{
  margin: 20px;
  padding: 20px;
  width: 30em;
  height: 32em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #333;
  border-radius: 5px;
  color: #fff;
}
.cant-pers-y-param{
  display: flex;
  align-items: center;
  justify-content: center;
}
.cant-pers input{
  width: 3em;
}
.cant-pers{
  width: 5em;
}
.entrada{
  padding: 10px;
}
.programar form{
  margin: 5px;
  padding: 10px;
}
.programar input{
  border: none;
  outline: none;
  background-color: transparent;
  color: #fff;
  margin: 0px 10px;
  padding: 0px 10px; 
  border-bottom: 1px solid #fff;
}
.param form{
  display: flex;
}
input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 1.5em;
  height: 1.7em;
  border-radius: 50%;
  border: 2px solid #d49434;
  outline: none;
  cursor: pointer;
  text-align: center;
}

input[type="checkbox"]:checked {
  background-color: #d49434;
}

input[type="checkbox"]:checked::before {
  content: "\2713";
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 20px;
  font-size: 14px;
  color: #fff;
}
#btn-calcular-precio{
  padding: 5px;
  margin: 0px 5px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #47f;
  color: #fff;
}