.verviaje {
  width: 100%;
  height: 100vh;
}

.viaje {
  width: 100%;
  height: auto;
  padding: 3em 0px;
  margin: 4em 0px;
  background-color: #333;
  font-weight: bold;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.contenido-viaje {
  min-width: 70%;
  padding: 1em;
  margin: 20px;
}

.caract-viaje {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  margin: 20px;
}

.precio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3em;
  margin: 0px 20px;
}

.imgveviajes {
  width: 15em;
  height: 10em;
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.distinta-fuente {
  font-family: 'Borel', cursive;
  color: #FABD2D;
}

.caract {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12em;
  height: 3em;
  padding: 10px;
  border-radius: 6px;
  font-size: 14px;
}

.precio {
  font-size: 15px;
  color: #FABD2D;
}