.verviaje {
  width: 100%;
  height: 100vh;
}

.viaje {
  width: 100%;
  height: 20em;
  display: flex;
  align-items: center;
  background-color: #fedb5f;
  /*#fcd360*/
}

.contenido-viaje {
  margin: 20px;
}

.caract-viaje {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 20px;
}

.precio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3em;
  margin: 0px 20px;

}

.imgveviajes {
  width: 15em;
  height: 10em;
  margin: 20px;
  background-color: #fedb5f;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.distinta-fuente {
  font-family: 'Borel', cursive;
}

.caract {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eef;
  width: 12em;
  height: 5em;
  padding: 10px;
  border-radius: 6px;
  font-size: 15px;
}

.precio {
  font-size: 15px;
}