.verviaje {
  width: 100%;
  height: 100vh;
}

.viaje {
  width: 100%;
  height: auto;
  padding: 3em 0px;
  margin: 4em 0px;
  font-weight: bold;
  box-shadow: 0px 0px 30px #1112;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.contenido-viaje {
  max-width: 75%;
  margin: 20px;
}

.caract-viaje {
  display: flex;
  flex-wrap: wrap;
}

.precio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3em;
  margin: 0px 20px;
  font-size: 15px;
  color: #FABD2D;
}

.imgveviajes {
  width: 15em;
  height: 10em;
  margin: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #777;
}

.distinta-fuente {
  font-family: 'Borel', cursive;
  color: #FABD2D;
}

.caract {
  width: 12em;
  padding: 10px 0px;
  font-weight: 500;
}
